{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% for category in categories %}
<div class="card mb-2 bg-light">
  <div class="card-header bg-info">
    <a href="category/{{ category.name }}" class="text-dark">{{ category.name }}</a>
  </div>
  <div class="card-body">
    <div class="row">
      {% for product in category.product_set.all|slice:"0:10" %}
      <div class="card mx-auto mt-2 p-2" style="width: 18rem;">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.description }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>{{ product.sals }}
          <p class="card-text text-success-emphasis border border-success-subtle rounded w-25 text-center">{{ product.price }} $</p>
          <a href="product/{{ category.name }}/{{ product.name }}" class="btn btn-outline-info">shop it</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  {% endfor %}
{% endblock %}